<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @article_category.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @article_category.slug %>
</p>

<%= link_to 'Edit', edit_articles_category_path(@article_category) %> |
<%= link_to 'Back', articles_categories_path %>
